.trasparent {
  background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 );
}

/*scrollbar*/

.scrollbar::-webkit-scrollbar {
  width: 7px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #689f38;
  border-radius: 100px;
}

/*datepicker color*/

.datepicker-date-display {
  background-color: #689f38;
}

.datepicker-table td.is-today {
  color: #689f38;
}

.datepicker-table td.is-selected {
  background-color: #689f38;
  color: #fff;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  color: #689f38;
  padding: 0 1rem;
}

/*color radio buttoms*/

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #689f38;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #689f38;
}

/*color switch*/
.switch label input[type=checkbox]:checked + .lever {
  background-color: #689f38;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #aed581;
}

/*configuracion text-imput*/

/* label color */
   .input-field label {
     color: #689f38;
   }
/* label focus color */
 .input-field input:focus + label {
   color: #689f38 !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #689f38 !important;
   box-shadow: 0 1px 0 0 #689f38 !important
 }

 textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #689f38;
  -webkit-box-shadow: 0 1px 0 0 #689f38;
          box-shadow: 0 1px 0 0 #689f38;
}

/*configuracion sidenav*/

.sidenav {
  width: 200px;
}

.sidenav-fix {
    margin-top: 64px;
}

/*configuracion blockquote*/

blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #8bc34a;
}

/*Cambiar colores Tabs.*/

.tabs .tab a{
    color:#000;
} /*Color para el texto*/

.tabs .tab a:hover {
    background-color:#f1f8e9;
    color:#000;
} /*Color para el texto OnOver*/

.tabs .tab a.active {
    background-color:#f1f8e9;
    color:#8bc34a;
} /*Color del texto y del fondo activado*/

.tabs .indicator {
    background-color:#8bc34a;
} /*Color de la linea inferior*/

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: #f1f8e9;
  outline: none;
}/*Color al activar*/

/*Button Group*/

.btn-group {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}

.btn-group>.btn:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group>.btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.btn-group>.btn:last-child:not(:first-child),
.btn-group>.dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group>.btn-inactive {
  background-color: #607d8b;
}

.btn-group>.btn {
  -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
}

.btn-group>.btn-inactive:hover {
  background-color: #728F9D;
}

.btn-group>.btn:hover {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

/*Configuracion del NavBar*/

@media only screen and (min-width: 601px) {
  nav.nav-extended .nav-wrapper {
    min-height: 64px;
  }
  nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 64px;
    line-height: 75px;
  }
  .navbar-fixed {
    height: 64px;
  }
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

/*configuracion parallax*/

.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}